<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101965889-1"></script>
<script type="text/javascript" th:src="@{/assets/js/google_analytic_script.js}"></script>

<script type="text/javascript" th:src="@{/assets/js/inspectlet_script.js}"></script>

<!-- Schema.org-->
<th:block th:if="${schemaOrg != null and schemaOrg != ''}">
    <script type="application/ld+json">
                <div th:remove="tag" th:utext="${schemaOrg}"></div>

    </script>
</th:block>

</body>
