<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer section pt-6 pt-md-8 pb-3 bg-primary text-white overflow-hidden">
    <div class="pattern top"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <ul class="links-vertical">
                    <li>
                        <a target="_blank" th:href="@{|/blog|}">Find us on Github</a>
                    </li>
                    <li>
                        <a target="_blank" th:href="@{|/contact-us|}">Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <ul class="links-vertical">
                    <li>
                        <a target="_blank" th:href="@{|/blog|}">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">

                <ul class="social-links">
                    <li>
                        <a class="social-link ml-3" th:rel="noreferrer" th:href="@{https://youtu.be/03_MEYWkbCc}" title="Youtube api-monkey" target="_blank">
                            <i class="fa fa-youtube fa-3x"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-link ml-3" th:rel="noreferrer" th:href="@{https://medium.com/@api-monkey/}" title="Medium @api-monkey" target="_blank">
                            <i class="fa fa-medium fa-3x"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-link ml-3" th:rel="noreferrer" th:href="@{https://twitter.com/api_monkey9}" title="Twitter @api_monkey9" target="_blank">
                            <i class="fa fa-twitter fa-3x"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-link ml-3" th:rel="noreferrer" th:href="@{https://github.com/api-monkey/apitesting}" title="Github @api_monkey9" target="_blank">
                            <i class="fa fa-github fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-4 my-lg-4">
        <div class="row">
            <div class="col pb-4 mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center">
                    <p class="font-weight-normal font-small mb-0">Copyright © <a th:rel="noreferrer" th:href="@{https://www.collegehippo.com/}" target="_blank">APIMonkey</a> <span class="current-year"></span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>