<html xmlns:th="http://www.thymeleaf.org">

<footer class="footer section pb-3 w-100 bg-primary text-white overflow-hidden @@classes overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <ul class="links-vertical">
                    <li>
                        <a target="_blank" th:href="@{https://www.collegehippo.com/graduate-school}">Search Graduate School</a>
                    </li>
                    <li>
                        <a target="_blank" th:href="@{https://www.collegehippo.com/online-masters-program}">Find Online Masters programs</a>
                    </li>
                    <li>
                        <a target="_blank" th:href="@{https://www.collegehippo.com/graduate-certificate-program}">Find Certificate programs</a>
                    </li>
                    <li>
                        <a target="_blank" th:href="@{https://scholarship.collegehippo.com/scholarships/match-with-online-masters-graduate-programs}">Match me with Online Masters</a>
                    </li>
                    <li>
                        <a target="_blank" th:href="@{https://www.collegehippo.com/no-gre-admission-masters-program}">1200 No Gre colleges</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <ul class="links-vertical">
                    <li>
                        <a th:href="@{/scholarships/calculate-cost-graduate-program}">Calculate My Master's degree cost</a>
                    </li>
                    <li>
                        <a th:href="@{/scholarship-search}">$5m worth of Masters's scholarship</a>
                    </li>
                    <li>
                        <a target="_blank" th:href="@{https://www.collegehippo.com/blog/what-is-the-income-limit-for-fafsa-2021}">Income limit for Graduate Students for FAFSA 2021</a>
                    </li>
                    <li>
                        <a target="_blank" th:href="@{https://www.collegehippo.com/blog/fafsa-for-graduate-programs-the-complete-guide}">FAFSA for Graduate programs</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">

                <ul class="social-links">
                    <li>
                        <a class="social-link ml-3" th:rel="noreferrer" th:href="@{https://www.amazon.com/College-Hippo/e/B07RR9T4DD}" title="Amazon" target="_blank">
                            <i class="fa fa-amazon fa-3x"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-link ml-3" th:rel="noreferrer" th:href="@{https://www.facebook.com/Collegehippo}" title="Facebook" target="_blank">
                            <i class="fa fa-facebook fa-3x"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-link ml-3" th:rel="noreferrer" th:href="@{https://twitter.com/collegehipo}" title="Twitter" target="_blank">
                            <i class="fa fa-twitter fa-3x"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-link ml-3" th:rel="noreferrer" th:href="@{https://medium.com/@collegehippo/}" title="Medium" target="_blank">
                            <i class="fa fa-medium fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-4 my-lg-4">
        <div class="row">
            <div class="col pb-4 mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center">
                    <p class="font-weight-normal font-small mb-0">Copyright © <a th:rel="noreferrer" th:href="@{https://www.collegehippo.com/}" target="_blank">CollegeHippo</a> <span class="current-year"></span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>