<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        @@include('./_head.html', {
            "path": ".."
        })
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    </head>

<body>
    @@include('./_navigation.html', {
        "path": "..",
        "classes": "navbar-dark navbar-theme-primary"
    })
    <main>

        @@include('./_preloader.html', {
            "path": ".."
        })

        <section class="section-header pb-6 pb-lg-8 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <h1 class="h1 display-1 font-weight-bolder mb-3">The no-code API</h1>
                        <h1 class="h1 display-1 font-weight-bolder mb-3">testing solution</h1>
                        <p class="lead mb-0">You build the API. We test it for you.</p>
                        <p class="lead mb-0">Get started with testing your</p>
                        <p class="lead mb-3 mb-lg-5">API's in minutes not days.</p>

                        <div class="text-left text-primary">
                            <a role="button" th:href="@{/get-started}" class="btn btn-lg btn-light mr-3">Get started</a>
                            <a role="button" th:href="@{/get-started}" class="btn btn-lg btn-light disabled">View Demo</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                        <img th:src="@{https://i.imgur.com/6Wb50qJ.jpeg}" alt="APIMonkey"/>
<!--                        <img th:src="@{/assets/img/pages/image_banner.png}" alt="APIMonkey"/>-->
                    </div>
                </div>
            </div>
            <div class="pattern bottom"></div>
        </section>

        <section class="section section-lg py-4">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-md-8 text-center">
                        <h2 class="h1 font-weight-bolder mb-4">Why use API Monkey?</h2>
                        <p class="lead">Forget about test engineers and testers with complex code to automate your API testing, API Monkey offers a self-service, cloud based REST API testing solution that can be easily used by business analysts, partners to help you in API adoption.</p>
                    </div>
                </div>
                <div class="row mb-4 mb-lg-4">
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center">
                        <div class="icon icon-shape icon-shape-primary rounded-circle">
                            <span class="fas fas fa-edit"></span>
                        </div>
                        <h5 class="mt-4 mb-3">
                            Write tests in minutes
                        </h5>
                        <p class="px-0 px-sm-4 px-lg-0">Provide the swagger endpoint and get started in minutes.</p>
                        <a target="_blank" th:href="@{|/blog|}" class="btn btn-link text-primary">Learn more
                            <span class="icon icon-xs ml-2"><span class="fas fa-arrow-right"></span></span>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center">
                        <div class="icon icon-shape icon-shape-primary rounded-circle">
                            <span class="fas fa-rocket"></span>
                        </div>
                        <h5 class="mt-4 mb-3">
                            Pre-generated data
                        </h5>
                        <p class="px-0 px-sm-4 px-lg-0">We build the data from the endpoints.</p>
                        <a target="_blank" th:href="@{|/blog|}" class="btn btn-link text-primary">Learn more
                            <span class="icon icon-xs ml-2"><span class="fas fa-arrow-right"></span></span>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center">
                        <div class="icon icon-shape icon-shape-primary rounded-circle">
                            <span class="fas fa-chart-pie"></span>
                        </div>
                        <h5 class="mt-4 mb-3">
                            Customize data
                        </h5>
                        <p class="px-0 px-sm-4 px-lg-0">Not happy with the pregenerated data? Create and save your own.</p>
                        <a target="_blank" th:href="@{|/blog|}" class="btn btn-link text-primary">Learn more
                            <span class="icon icon-xs ml-2"><span class="fas fa-arrow-right"></span></span>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center">
                        <div class="icon icon-shape icon-shape-primary rounded-circle">
                            <span class="fas fa-cloud"></span>
                        </div>
                        <h5 class="mt-4 mb-3">
                            No set up required
                        </h5>
                        <p class="px-0 px-sm-4 px-lg-0">No CI server or setup required. Your tests run on the cloud.</p>
                        <a target="_blank" th:href="@{|/blog|}" class="btn btn-link text-primary">Learn more
                            <span class="icon icon-xs ml-2"><span class="fas fa-arrow-right"></span></span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4 mb-lg-4">
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center">
                        <a target="_blank" th:href="@{|https://youtu.be/03_MEYWkbCc|}" class="btn btn-link text-primary">
                            <div class="icon icon-shape icon-shape-primary rounded-circle">
                                <span class="fa fa-youtube"></span>
                            </div>
                            <h5 class="mt-4 mb-3">
                                Guide in youtube
                            </h5>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center">
                        <a target="_blank" th:href="@{|https://medium.com/@api-monkey|}" class="btn btn-link text-primary">
                            <div class="icon icon-shape icon-shape-primary rounded-circle">
                                <span class="fa fa-medium"></span>
                            </div>
                            <h5 class="mt-4 mb-3">
                                Medium
                            </h5>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center">
                        <a target="_blank" th:href="@{|https://twitter.com/api_monkey9|}" class="btn btn-link text-primary">
                            <div class="icon icon-shape icon-shape-primary rounded-circle">
                                <span class="fa fa-twitter"></span>
                            </div>
                            <h5 class="mt-4 mb-3">
                                Twitter
                            </h5>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center">
                        <a target="_blank" th:href="@{|https://github.com/api-monkey/apitesting|}" class="btn btn-link text-primary">
                            <div class="icon icon-shape icon-shape-primary rounded-circle">
                                <span class="fa fa-github"></span>
                            </div>
                            <h5 class="mt-4 mb-3">
                                GitHub
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg py-5">
            <div class="container">
                <div class="row justify-content-center mb-3">
                    <div class="col-12 col-md-8 text-center">
                        <h2 class="h2 font-weight-bolder mb-2">Coming soon</h2>
                        <p class="lead mb-1">&#9679; Dashboard metrics for your API’s</p>
                        <p class="lead mb-1">&#9679; Import swagger docs</p>
                        <p class="lead mb-1">&#9679; Share your test metrics</p>
                        <p class="lead mb-1">&#9679; Run your tests at predefined schedule</p>
                    </div>
                </div>
            </div>
        </section>

        @@include('./_footer.html', {
            "path": "..",
            "classes": "bg-primary text-white"
        })

    </main>

    @@include('./_scripts.html', {
        "path": ".."
    })

</body>
</html>