<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    @@include('./_head.html', {
        "path": "../.."
    })

    <link rel="stylesheet" type="text/css" th:href="@{/css/run_tests_page.css}"/>
</head>

<body>

    @@include('./_navigation.html', {
        "path": "..",
        "classes": "navbar-dark navbar-theme-primary"
    })
    @@include('./_preloader.html', {
        "path": ".."
    })

    <main>

        <section style="height: 106px" class="section-header p-0 bg-primary text-white">
        </section>

        <div class="mob-hide container mt-3">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
                <div class="d-block mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                            <li class="breadcrumb-item"><a th:href="@{/}"><span class="fas fa-home"></span></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Run Tests</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div style="min-height: 600px" class="container mobile-padding mt-3 pb-5">

            <div>
                <div class="form-group">
                    <h1>
                        <span class="badge badge-default">[[${passedUrl}]]</span>
                    </h1>
                </div>
            </div>

            <div>
                <div class="row align-items-right mx-0 my-3">
                    <button class="btn btn-tertiary width-220" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Authorize
                    </button>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="auth-headers row row-grid align-items-center font-weight-bolder m-2">

                        <div class="mt-2 col-md-12 form-group row">
                            <label class="col-md-1 col-form-label" for="key-1">Key:</label>
                            <input type="text" class="form-control col-md-4 mr-6" name="auth-key" id="key-1">
                            <label class="col-md-1 col-form-label" for="value-1">Value:</label>
                            <input type="text" class="form-control col-md-4" name="auth-value" id="value-1">
                        </div>

                    </div>
                </div>
            </div>

            <div id="wrapper-cases" class="wrapper" >

                <th:block th:if="${not #lists.isEmpty(cases)}" th:each="item,iter: ${cases}">

                    <div th:id="${item.dataId}">
                        <div class="border border-default rounded mt-2">

                            <div class="task-block row row-grid align-items-center font-weight-bolder m-2">
                                <div class="col-12 col-md-3">
                                    <h3>
                                        <span th:class="'badge ' + ${#strings.toLowerCase(item.requestType)} + '-color'">
                                            [[${item.requestType}]]
                                        </span>
                                    </h3>
                                </div>
                                <div class="col-12 col-md-4">
                                    <span>
                                        [[${item.methodName}]]
                                    </span>
                                </div>
                                <div class="col-12 col-md-5">
                                    <span>[[${item.summary}]]</span>
                                </div>

                                <th:block th:if="${not #lists.isEmpty(item.inHeaderParameters) && not item.inHeaderParameters[0].isNoParams}">
                                    <div style="display: none" class="header-text col-12 col-md-12">
                                        <span>Header params:</span>
                                    </div>

                                    <div style="display: none" class="header-params row row-grid font-weight-bolder m-0 p-0 w-100 mb-3">

                                        <th:block th:each="inHeaderParamsVariantsItem,inHeaderParamsVariantsIndex: ${item.inHeaderParameters}">

                                            <th:block th:if="${not #lists.isEmpty(inHeaderParamsVariantsItem.parameterItems)}">

                                                <div th:class="'p-0 col-12 col-md-' + ${12 / variantNumber} + ' header-params-' + ${inHeaderParamsVariantsIndex.index}">
                                                    <th:block th:each="headerItem,headerItemIndex: ${inHeaderParamsVariantsItem.parameterItems}">

                                                        <div class="ml-0 mb-0 col-md-12 form-group row" th:classappend="${headerItem.required ? 'required' : ''}">
                                                            <label class="col-sm-12 col-form-label pb-0" th:for="'h-' + ${headerItem.name} + '-' + ${item.summary}">[[${headerItem.name}]]</label>
                                                            <input type="text" class="form-control col-sm-12" th:name="${headerItem.name}" th:id="'h-' + ${headerItem.name} + '-' + ${item.summary}" th:value="${headerItem.value}">
                                                        </div>

                                                    </th:block>
                                                </div>
                                            </th:block>
                                        </th:block>

                                    </div>
                                </th:block>

                                <div style="display: none" class="response-text col-12 col-md-12">
                                    <span>Response:</span>
                                </div>

                                <div style="display: none" class="test-cases row row-grid font-weight-bolder m-0 p-0 w-100 mb-1">


                                    <th:block th:if="${item.requestType.name == 'GET' and not #lists.isEmpty(item.requestParamsVariants)}" th:each="paramsVariantsItem,paramsVariantsIndex: ${item.requestParamsVariants}">

                                        <th:block th:if="${not #lists.isEmpty(paramsVariantsItem.parameterItems)}">
                                            <div th:class="'p-0 col-12 col-md-' + ${12 / variantNumber}">

                                                <textarea type="text"
                                                          class="run-case form-control fill-available mx-2"
                                                          rows="5"
                                                          name="content"
                                                          th:data-test-case="${item.dataId} + ':' + ${paramsVariantsIndex.index}">[[${T(com.skg.apimonkey.service.util.StringUtil).beautify(paramsVariantsItem.parameterItems)}]]</textarea>

                                            </div>
                                        </th:block>

                                    </th:block>

                                    <th:block th:if="${(item.requestType.name == 'POST' or item.requestType.name == 'PUT') and not #lists.isEmpty(item.requestBodyVariants)}" th:each="requestBodyItem,requestBodyIndex: ${item.requestBodyVariants}">

                                        <div th:class="'p-0 col-12 col-md-' + ${12 / variantNumber}">
                                            <textarea type="text"
                                                    class="run-case form-control fill-available mx-2"
                                                    rows="5" name="content"
                                                    th:data-test-case="${item.dataId} + ':' + ${requestBodyIndex.index}">[[${T(com.skg.apimonkey.service.util.StringUtil).beautify(requestBodyItem)}]]</textarea>
                                        </div>

                                    </th:block>


                                </div>

                                <button type="button" class="generate-button btn btn-default width-220 m-2">Generate tests</button>
                                <button style="display: none" type="button" class="btn btn-tertiary width-220 m-2 retry-button">Retry</button>
                            </div>

                        </div>
                    </div>


                </th:block>

            </div>


        </div>

        @@include('./_footer_liner.html', {
        "path": "..",
        "classes": "bg-primary text-white"
        })

    </main>

    @@include('./_scripts.html', {
    "path": "../.."
    })

    <script type="text/javascript" th:src="@{/assets/js/run_tests_page.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        window.cases = /*[[${cases}]]*/ null;
        window.swaggerDataHashId = /*[[${swaggerDataHashId}]]*/ null;
        /*]]>*/
    </script>
    
</body>

</html>
