.font-size-20 {
  font-size: 20px;
}
.font-size-16 {
  font-size: 16px;
}
.width-220 {
  width: 220px;
}
.post-color {
  color: #fff;
  background-color: #49cc90;
}
.get-color {
  color: #fff;
  background-color: #61affe;
}
.put-color {
  color: #fff;
  background-color: #fca130;
}
.delete-color {
  color: #fff;
  background-color: #f93e3e;
}
.fill-available {
  width: -webkit-fill-available;
  width: -moz-available;
}